body{
        /*настраиваем шрифт*/
        font-family: Work Sans, Verdana, Geneva, sans-serif;
        #font-family: Arial, Helvetica, sans-serif;
        background-color: #202225;
    }

    /*общие настройки сетки*/
    .grid {
        /*рисуем зелёные рамки*/
        //border: 2px solid #37325c;
        border-radius: 20px;

        /*подключаем сетку*/
        display: flex;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, 100px);
        grid-auto-flow: row;
        height: max-content;
        width: auto;
        margin: 5px;
        flex-wrap: wrap;
        //background-color: #33284d;
        color: white;
    }

    /*внешний вид ячеек*/
    .grid > * {
      /*фоновый цвет*/
      //background-color: #ffbf94;
      /*скругление углов*/
      border-radius: 30px;
      /*отступ от содержимого до края ячейки*/
      padding: 21px;
      /*расстояние от одной границы ячейки до другой*/

      width: auto;
      margin: 10px;
      min-width: fit-content;
      background-color: #1d3e0b;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    /*внешний вид ячеек*/
    .row > * {
      /*фоновый цвет*/
      background-color: #807990;
      /*скругление углов*/
      border-radius: 25px;
      /*отступ от содержимого до края ячейки*/
      padding: 6px;
      /*расстояние от одной границы ячейки до другой*/
      margin: 6px;
<!--      width: 20px;-->

    }
    .row_rdp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    /*внешний вид ячеек*/
    .row_rdp > * {
      /*фоновый цвет*/
      background-color: #807990;
      /*скругление углов*/
      border-radius: 25px;
      /*отступ от содержимого до края ячейки*/
      padding: 6px;
      /*расстояние от одной границы ячейки до другой*/
      margin: 6px;
<!--      width: 20px;-->

    }
    .row_l {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    /*внешний вид ячеек*/
    .row_l > * {
      /*фоновый цвет*/
      background-color: #807990;
      /*скругление углов*/
      border-radius: 25px;
      /*отступ от содержимого до края ячейки*/
      padding: 6px;
      /*расстояние от одной границы ячейки до другой*/
      margin: 6px;
<!--      width: 20px;-->
    }

    .info {
        display: inherit;
        flex-wrap: wrap;
    }

    /*внешний вид ячеек*/
    .info > * {
      min-width: 100px;
      background-color: #1e3162;
      color: #eeeeee;
      border-radius: 25px;
      //padding: 6px;
      margin: 6px;
      padding-bottom: 9px;
      padding-right: 7px;
      padding-left: 7px;
      padding-top: 6px;

    }


    .cell {
    //background-color: #453172;
    text-align: center;
    color: #0cc915;
    }
    .cell_sub {
        background-color: #263137;
        border-radius: inherit;
        margin: -13px;
        padding-top: 5px;
        padding-bottom: 4px;
        min-width: 291px;
    }
    .deploy_sub {
        background-color: #263137;
        //border-radius: inherit;
        //margin: -13px;
        //padding-top: 5px;
        //padding-bottom: 4px;
        min-width: 291px;
        //margin: 18px;
        border-radius: 20px;
        border: solid 2px #fff;
        border-color: #7c0404;
        text-align: center;
        color: #8cdb50;
        padding: 7px;
    }

    .deploy_sub_grid {
    display: flex;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 100px);
    max-width: 18em;
    }
    .div_prompt { color: white; background-color: #c1755a; padding-top: 7px;}
    .div_view { color: white; background-color: #71309d; padding-top: 7px;}
    .div_control { color: white; background-color: #b8c15a; padding-top: 7px; padding-left: 9px;}
    .div_rdp { color: white; background-color: #0cc915; padding-top: 7px;}

    .div1 { grid-area: 1 / 1 / 2 / 3; color: white; background-color: #c1755a;}
    .div2 { grid-area: 2 / 1 / 3 / 2; color: white; }
    .div3 { grid-area: 2 / 2 / 3 / 3; color: white; }
    .div4 { grid-area: 3 / 1 / 4 / 3; color: white; }

    .rdp_a:link {color: #eeeeee; }
    .rdp_a:visited {color: #eeeeee; }
    .rdp_a:active {color: #09f7cb;}

    .session0 {

    }



    .session_head {
    background-color: #1a2044;
    margin: 9px;
    #position: absolute;
    #top: calc(50% - 150px);
    #left: calc(50% - 150px);
    #width: 300px;
    #height: 300px;
    border-radius: 20px;
    padding-top: inherit;
    #border: solid 1px #bb0f60;
    //box-shadow:
    0 0 90px #a824df,
    -2px 0 5px #f0f,
    2px 0 8px #0ff;
    }

    .session {
    background-color: #40304f;
    margin: 7px;
    #position: absolute;
    #top: calc(50% - 150px);
    #left: calc(50% - 150px);
    #width: 300px;
    #height: 300px;
    border-radius: 20px;
    #border: solid 1px #bb0f60;
    }
    .test2 {
    box-shadow:
    0 0 90px #a824df,
    -2px 0 5px #f0f,
    2px 0 8px #0ff;
    }

    .block_rows {
    background-color: #40304f;
    margin: 4px;
    #position: absolute;
    #top: calc(50% - 150px);
    #left: calc(50% - 150px);
    #width: 300px;
    #height: 300px;
    border-radius: 20px;
    #border: solid 2px #fff;
    box-shadow:
    0 0 90px #a824df,
    -2px 0 5px #f0f,
    2px 0 8px #0ff;
    }

    .header {
    display: inline-block;
    background-color: #40304f;
    margin: 10px;
    border-radius: 20px;
    #border: solid 2px #fff;
    box-shadow:
    0 0 90px #a824df,
    -2px 0 5px #f0f,
    2px 0 8px #0ff;
    }

    .header_gray {
    display: inline-block;
    background-color: #304028f;
    margin: 4px;
    border-radius: 20px;
    border: solid 2px #fff;
    //border-color: #9d5a08;
    border-color: #523108;
    }


    .header_start {
    display: inline-block;
    background-color: #494a2d;
    margin: 4px;
    border-radius: 20px;
    border: solid 2px #fff;
    border-color: #0d89c7;
    }

    .header_stop {
    display: inline-block;
    background-color: #5e1b1bed;
    margin: 4px;
    border-radius: 20px;
    border: solid 2px #fff;
    border-color: #8856b5;
    }

    .header_restart {
    display: inline-block;
    background-color: #15604eed;
    margin: 4px;
    border-radius: 20px;
    border: solid 2px #fff;
    border-color: #a76225;
    }

    .title {
    //display: inline-block;
    //background-color: #5e1b1bed;
    margin: 18px;
    border-radius: 20px;
    border: solid 2px #fff;
    border-color: #7c0404;
    text-align: center;
    color: #eeeeee;
    padding: 7px;
    }
    .title_g {
        //display: inline-block;
        //background-color: #5e1b1bed;
        margin: 18px;
        border-radius: 20px;
        border: solid 2px;
        border-color: #047c56;
        text-align: center;
        color: #eeeeee;
        padding: 7px;
        }

    .test {
        inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 90px #fff,
    -10px 0 80px #f0f,}
